.info {
    text-align: center;
    padding: 30px;
}

.bio {
    min-width: 30vw;
    padding: 0px 40px;
    max-width: 500px;
    text-align: justify;
    text-justify: inter-word;
}

.info-bio-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
@media (min-width: 768px) {
    .info-bio-container{
        flex-direction: row;
    }
}

.mini-title {
    margin-top: 35px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
    color: #88d9ed;
}

.uni-subtitle {
    color: gray;
}

.my-photo {
    height: max(200px,18vw);
    border-radius: 50%;
}

.lang-icon {
    width: 100px;
}