.info {
    text-align: center;
    padding: 30px;
}

.bio {
    min-width: 30vw;
    padding: 0px 40px;
    max-width: 500px;
}

.info-bio-container {
    display: flex;
}
@media all and (max-width: 700px) {
    .info-bio-container{
        flex-direction: column;
    }
}

.mini-title {
    margin-top: 35px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
    color: #88d9ed;
}

.uni-subtitle {
    color: gray;
}

.my-photo {
    height: 180px;
    border-radius: 90px;
}

.lang-icon {
    width: 100px;
}