button {                        /* Button is an element selector */
    padding: 10px 15px;
    margin: 4px;
    cursor: pointer;
}

.yt {                           /* This is a class selector */
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    transition: opacity 0.7s;
}
.yt:hover {                     /* This is a pseudo-class*/
    opacity: 0.4;
}
.yt:active {
    color:rgb(101, 101, 101);
}

.follow {
    background-color: white;
    border-color: var(--follow-color);
    border-style: solid;
    border-width: 1.5px;
    border-radius: 4px;
    color: var(--follow-color);
    font-weight: bold;
    cursor: pointer;
    transition: background-color var(--seconds-animation),
    color var(--seconds-animation), 
    border-color var(--seconds-animation);
}
.follow:hover {
    background-color: var(--follow-color);
    border-color: white;
    color: white;
}
.follow:active {
    opacity: 0.7;
}

.tweet {
    background-color: var(--twitter-color);
    color: white;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow var(--seconds-animation);
}
.tweet:hover {
    box-shadow: 6px 4px 9px rgba(0, 0, 0, 0.25);
}
.tweet:active {
    opacity: 0.7;
}