body {
    font-family: Helvetica;
    font-size: medium; 
    color: white;
    text-align: center;
    background-color: rgb(28, 28, 28);
}

.my-header {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}