:root {
    --seconds-animation: 0.4s;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {font-family: 'Golos Text', sans-serif;
    font-size: small; 
    margin: 0;
    background-color: #121212;
    color: white;
}

.wip-warning {
    background-color: rgb(227, 65, 64);
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;

    transition: background-color 1s ease-out;
}
.wip-warning:hover {
    background-color: rgb(193, 26, 26);
}

.cool-title {
    align-items: center;
    text-align: center;
    font-size: 12vw;
    max-height: 90vh;
    max-width: 90vw;
    font-weight: 950;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, #07b8e4, #ad06c0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    animation: fade 1.2s ease-in;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.subtitle {
    color: gray;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    opacity: 1;
    animation: fade 1.2s ease-in;
}

.section-title {
    color: #9bdeef;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 10px;

    transition: color 0.7s ease-in-out;
}
.section-title:hover {
    color: #e5baf1;
}

.section-title-first {
    text-align: left;
}

.my-body {
    margin-left: 10vw;
    margin-right: 10vw;
}

.cupcake-ipsum {
    margin-left: 20px;
    margin-right: 20px;
}