:root {                                 /* Here I can declare variables */
    --twitter-color: #1DA1F2;
    --follow-color: rgb(39, 39, 39);
    --seconds-animation: 0.4s;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {font-family: 'Golos Text', sans-serif;
    font-size: medium; 
    margin: 0;
}

.my-link {
    color: rgb(0, 0, 167);
    text-decoration: none;
    transition: color var(--seconds-animation) ease,
    text-decoration var(--seconds-animation) ease;
}
.my-link:hover {
    color: rgb(205, 134, 3);
    text-decoration: underline;
}

.my-title {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 10px;

    transition: color 0.7s ease-in;
}
.my-title:hover {
    color: #d197da;
}

.cool-title {
    align-items: center;
    text-align: center;
    font-size: 12vw;
    max-height: 90vh;
    max-width: 90vw;
    font-weight: 950;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, #07b8e4, #ad06c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;

    animation: fade 1s ease-in;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.subtitle {
    color: gray;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 30px;
}

.wip-warning {
    background-color: rgb(227, 65, 64);
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;

    transition: background-color 1s ease-out;
}
.wip-warning:hover {
    background-color: rgb(193, 26, 26);
}

.feedback {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 100px;
    width: 300px;
    text-align: left;
    border-radius: 4px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

.submit-button {
    font-size: 10px;
    padding: 8px;
    vertical-align: top;
    margin-top: 1px;
    border-radius: 4px;
    border-width: 1px;
    border-color: aliceblue;
    transition: background-color 0.4s ease;
}
.submit-button:hover{
    background-color: rgb(223, 223, 223);
}

.my-body {
    background-color: #121212;
    color: white;
}

.cupcake-ipsum {
    margin-left: 20px;
    margin-right: 20px;
}